/* Global */

/* For all pages */




:root {
    --main-bg-color: white;
    --secondary-bg-color:
        /*antiquewhite*/
        /*#FFF9ED*/
        #fffbf4;
    --main-accent-color: #0E7DC7;
    --tertiary-bg-color: #ddd;

}

button {
    padding: 10px 40px;
    font-weight: 600;
    border: none;
    background-color: var(--main-bg-color);
}

button:hover {
    cursor: pointer;
    background-color: var(--main-accent-color);
    color: var(--main-bg-color);
}

a {
    text-decoration: none;
    color: black;
}


body {
    margin: 0;
    background: var(--main-bg-color);
    font-family: "helvetica";
}

.hide {
    display: none;
}

.col_container {
    display: flex;
}

.col {
    flex-grow: 1;
    flex-basis: 1px;
    margin: 0 30px;
}

.margin_10 {
    margin: 0 15%;
}

/* Main navigation css rules */

ul {
    padding: 0;
    margin: 0;
    margin-bottom: -5px;

    display: flex;
}

li {
    display: inline-block;
    margin-top: 32px;
}

li img {
    margin-top: -32px;
    width: 20%;
}

.main_menu {}

.menu_item {

    text-decoration: none;
    margin-left: -340px;
    margin-top: 22px;
    padding-top: 10px;
    height: auto;
}

.menu_item:hover {
    color: var(--main-bg-color);
    background-color: var(--main-accent-color);
}

/* Dropdown menu er taget herfra: https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_js_dropdown_hover og tilpasset med ændringer */
.dropbtn {
    color: black;
    padding: 20px;
    text-decoration: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--secondary-bg-color);
    min-width: 120px;
    margin-top: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: var(--main-accent-color);
    color: var(--main-bg-color);
}

.dropdown:hover .dropdown-content {
    display: block;
}


.dropbtn:hover {
    color: var(--main-bg-color);
}

/* Text-styling/fonts */

h1 {
    font-family: 'PT Sans Narrow', sans-serif;
    color: var(--main-accent-color);
    font-size: 32px;
}

h2 {
    font-family: 'PT Sans', sans-serif;
    font-weight: 1000;
}

p {
    font-family: 'PT Sans', sans-serif;
    font-weight: 200;
}

/* New HTML Document */

/* Kogacenter CSS */

.section_h1 {
    position: absolute;
    padding: 0 20px;
    background-color: var(--main-bg-color);
}

#swipeimages_container {
    width: 100%;
    height: 30vw;
    overflow: hidden;
}

.headline_swipe {
    position: absolute;
    color: var(--main-bg-color);
    margin-top: 25%;
    margin-left: 35%;
    transform: translateX(-50%);
}

.swipe_img {
    padding: 0;
    margin: 0;
}

#models_container {
    margin: 0 3%;
}

#models_container {
    display: flex;
}

.h1_container {
    display: flex;
    justify-content: space-around;
}

#bike_types a {
    margin: 7px;
    color: black;
    text-decoration: none;
}

#bike_types h4 {
    margin: 5px 0;
    margin-left: 5px;
}

#bike_types a:hover {
    color: var(--main-bg-color);
    background-color: var(--main-accent-color);
}

.line {
    width: 100%;
    border-bottom: 1px solid black;
    height: 47px;
    margin-bottom: 30px;

}

.mykoga_stories_container {
    display: grid;
    grid-gap: 2%;
    grid-template-columns: repeat(3, 1fr);
}

#top_container {
    position: relative;
    z-index: 1;
    height: 500px;
    overflow: hidden;
    background-image: url();
    background-position: center;
    margin-bottom: 2%;
}

.mykoga_headline,
.mykoga_text {
    position: absolute;
    margin: 3%;
    color: var(--main-bg-color);
    padding: 15px;
    width: 282px;

}

.mykoga_text {
    background-color: hsla(328, 0%, 44%, 0.57);
    z-index: 1;
    margin-top: 200px;
}

.mykoga_img {
    position: relative;
    z-index: 1;
}

#top_container:hover {
    z-index: 0;
}

.mykoga_img:hover {
    z-index: 0;
}

.mykoga_text:hover {
    z-index: 2;
}

.mykoga_headline {
    margin-top: 140px;
    background-color: none;
    z-index: 2;
}


#dot_container {
    display: flex;
    justify-content: center;
}

/* New HTML Document */

/* Detail CSS */

#detail {
    height: calc(100vh - 17px);

}

.grid_container {
    display: grid;
    grid-gap: 2%;
    grid-template-columns: repeat(5, 1fr);
}

.images_container {
    height: 40vw;
    width: 100%;
    overflow: hidden;
    background-image: url();
    background-position: center;
    background-size: cover;
}

#img_navigation_container {
    display: flex;
    justify-content: center;
}

#dot_section {
    display: flex;
    margin-top: 20px;
}

.left_arrow,
.right_arrow {
    width: 25px;
    margin: 0 40px;
    padding: 10px;
}

.left_arrow:hover {
    cursor: pointer;
    background-color: antiquewhite;
}

.right_arrow:hover {
    cursor: pointer;
    background-color: antiquewhite;
}

.dot {
    width: 14px;
    padding: 5px;
}

.dot:hover {
    background-color: antiquewhite;
}

#bikeinfo_short {
    margin-top: 50px;
    margin-bottom: 50px;
}

#bullets {
    margin-top: 50px;
    margin-bottom: 100px;
}

.bullet {
    padding-left: 40px;
    padding-right: 40px;
}

/* New HTML Document */

/* Cykler CSS */

#bg_video {
    width: 100%;
}

.ia_links a {
    font-size: 13px;
    padding: 3px;
}

.ia_links a:hover {
    background-color: var(--tertiary-bg-color);
}

#bikes_overview {
    margin-bottom: 100px;
}

#liste {
    display: grid;
    grid-gap: 2%;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    margin: 0 10%;
}

.cykel_bgimage {
    width: auto;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

}

/*
.cykler_image {
    background-color: var(--secondary-bg-color);
}

.cykler_image:hover .backtext_container {
    display: block;
}


.cykler_image:hover {
    cursor: pointer;
}*/

.menu {
    margin-top: 30px;
    text-align: center;
    width: 100wv;
}

.valgt {
    background-color: var(--main-accent-color);
    color: var(--main-bg-color);
}

.cykel:hover .backtext_container {
    display: block;
}

.cykel:hover {
    cursor: pointer;
}

.cykel_bgcolor {
    background-color: var(--secondary-bg-color);
}

.backtext_container {
    text-align: center;
    width: calc(100% - 40px);
    margin-top: -90px;
    padding: 0 20px;
    padding-top: 10px;

    height: 80px;
    background-color: hsla(0, 0%, 0%, 0.57);
    display: none;
}

.price {
    color: var(--main-bg-color);
    padding: 0;
    margin: 0;
}

.cykler_p {
    color: var(--main-bg-color);
    padding: 0;
    margin: 0;
}

hr {

    margin: 0 10%;
    background-color: black;
}

/* images is always 100% */

img {
    width: 100%;
}

/* Footer */
/* Css rules */

#footer {
    display: flex;
    background-color: var(--tertiary-bg-color);
    justify-content: center;
}

#footer_container {
    display: flex;
}

#footer .col {
    padding: 25px 0px;
    width: 220px;
}

#col_some {
    display: flex;
    flex-direction: column;
    width: 20%;
}

.col img {
    width: 20%;
}

/* Set the size of the div element that contains the map */
#map {
    height: 140px;
    /* The height is 400 pixels */
    width: 200px;
    /* The width is the width of the web page */
}

/* Media Qeuries */
@media screen and (max-width: 650px) {

    /* Media Queries til cykler*/
    #liste {
        display: grid;
        grid-gap: 2%;
        grid-template-columns: repeat(1, 1fr);
        margin: 0 auto;
        margin: 0 10%;

    }

    .cykler_backimage {
        position: absolute;
        width: 80%;
        z-index: -2;

    }

    .backText {
        position: absolute;
        margin-top: 20%;
        margin-left: 1.5%;
        z-index: -1;
        color: var(--main-bg-color);

    }

    .model_women,
    .model_men {
        position: absolute;
        z-index: -1;
        margin: 1.5%;
        color: var(--main-bg-color);
    }

    .model_men {
        margin-top: 6%;
    }

    .cykler_p {
        position: absolute;
        margin-left: 0.5%;
        margin-top: 30%;
        z-index: -1;
        width: 80%;
    }

    /* Media Queries til detail*/
    .menu_mob {
        display: grid;
        grid-gap: 2%;
        grid-template-columns: repeat(2, 1fr);
        margin: 0 auto;
        margin: 0 10%;
    }
}

@media screen and (min-width: 990px) {
    width: calc(100vw - 17px);
}
