/* Global */

/* For all pages */




:root {
    --main-bg-color: white;
    --secondary-bg-color: antiquewhite;
    --main-accent-color: #0E7DC7;

}

button {
    padding: 10px 40px;
    font-weight: 600;
    border: none;
    background-color: var(--main-bg-color);
}

button:hover {
    cursor: pointer;
    background-color: var(--main-accent-color);
    color: var(--main-bg-color);
}

body {
    margin: 0;
    background: var(--main-bg-color);
    font-family: "helvetica";
}

.hide {
    display: none;
}

.col_container {
    display: flex;
}

.col {
    flex-grow: 1;
    flex-basis: 1px;
    margin: 0 30px;
}

.margin_10 {
    margin: 0 15%;
}

/* New HTML Document */

/* Kogacenter CSS */

#figure_container {
    width: 100%;
    height: 50vw;
    overflow: hidden;
    /*background-color: antiquewhite;*/
}

.figure figcaption {
    margin-top: -20vw;
    margin-left: 2%;
    color: var(--main-bg-color);
    /* BG color doesn't work :'( */
    background-color: black;
}

#dot_container {
    display: flex;
    justify-content: center;
}

/* New HTML Document */

/* Detail CSS */

#detail {
    height: calc(100vh - 17px);

}

#detail .close {
    position: fixed;
    top: 12px;
    left: 12px;
    font-size: 2rem;
    background-color: var(--main-bg-color);
    border-radius: 12px;
    border: none;
}

.grid_container {
    display: grid;
    grid-gap: 2%;
    grid-template-columns: repeat(5, 1fr);
}

#img_navigation_container {
    display: flex;
    justify-content: center;
}

.left_arrow,
.right_arrow {
    width: 25px;
    margin: 0 40px;
    padding: 10px;
}

.left_arrow:hover {
    cursor: pointer;
    background-color: antiquewhite;
}

.right_arrow:hover {
    cursor: pointer;
    background-color: antiquewhite;
}

.dot {
    width: 14px;
    padding: 5px;
}

.dot:hover {
    background-color: antiquewhite;
}

.bullet {
    padding-left: 40px;
    padding-right: 40px;
}

/* New HTML Document */

/* Cykler CSS */

#bg_video {
    width: 100%;
}

#liste {
    display: grid;
    grid-gap: 2%;
    grid-template-columns: repeat(4, 1fr);
    margin: 0 auto;
    margin: 0 10%;
}

.cykler_image {
    background-color: var(--secondary-bg-color);
}

.cykler_image:hover {
    opacity: 0;
    cursor: pointer;
}

.menu {
    text-align: center;
}

.valgt {
    background-color: var(--main-accent-color);
    color: var(--main-bg-color);
}

.backText {
    position: absolute;
    margin-top: 5%;
    margin-left: 1%;
    z-index: -1;
    color: var(--main-bg-color);

}

.model_women,
.model_men {
    position: absolute;
    z-index: -1;
    margin: 1%;
    color: var(--main-bg-color);
}

.model_men {
    margin-top: 2.5%;
}

.cykler_backimage {
    position: absolute;
    width: 18.8%;
    z-index: -2;
}

.cykler_h2 {

    margin-top: -5%;
    margin-left: 2%;
}

.cykler_p {
    position: absolute;
    margin-left: 0.5%;
    margin-top: 8%;
    z-index: -1;

    width: 18%;
}

/* images is always 100% */

img {
    width: 100%;
}

/* Media Qeuries */

@media screen and (min-width: 990px) {
    width: calc(100vw - 17px);
}
